Package: com.qiop1379.clearpasskeys
Name: clearpasskeys
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A clean look to your passcode keys.
Maintainer: qwertyuiop1379
Author: qwertyuiop1379
Section: Tweaks
Version: 0.0.3
Installed-Size: 120
