Package: com.qiop1379.dockoutline
Name: DockOutline
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: qwertyuiop1379
Author: qwertyuiop1379
Section: Tweaks
