Package: com.qiop1379.clearpasskeys
Name: clearpasskeys
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: A clean look to your passcode keys.
Maintainer: qwertyuiop1379
Author: qwertyuiop1379
Section: Tweaks
Depiction: https://qwertyuiop1379.github.io/depiction/clearpasskeys/index.html