Package: com.yourcompany.qdexec
Name: qdexec
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: System Administrator
Author: System Administrator
Section: System
Tag: role::hacker
